/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
}

#camera-stream {
  position: absolute;
  width: 100%;
  height: 100%;
}

#flip-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  
}
